body{background-color: rgba(183, 183, 185, 0.753);}
.deta{background-color: rgba(146, 137, 126, 0.726);color: white;}
.le{color: rgba(94, 88, 81, 0.726);}
.olma{border-radius: 3px;
border: 1px solid rgba(183, 183, 185, 0.753);}


